<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>${title} - Stove</title>
</head>
<body>
<div>

  #if 1+1==2
    1+1=2
  #fi

  #if co1
      a
    #if co1
        b
      #if co0
          c
      #fi
    #fi
  #fi
  <p>000\r</p>

  ${co1|pi0!false ? arr[1].u0.get('A 0')[2].who.real() : (co0 ? arr[1].u0.get('A 0')[2].who.nick() : arr[1].u0.get('A 0')[2].who.name()!a)!vvv(v)v}
  ${(co0|pi0!false ? arr[1].u0.get('A 0')[2].who.real() : (co1 ? arr[1].u0.get('A 0')[2].who.nick() : arr[1].u0.get('A 0')[2].who.name()!a))|pipe1!vvvv(v)}

  <p>111</p>

  ${some1}${some2|pip0!!!!def}
  ${some3!}	${some4!1ssa}
  ${user.name} -> ${user.age} => ${user.inf.h}

  <p>222</p>

  #if co1
    <p>${arr[0].u0.get('A 0')[2]}</p>
    #if b
      <p>${b.b}
        ${b.c}</p>
    #fi
  #fi

  <p>Text</p>
  <p>${some5}\${some6}\\${some7}xxx</p>
</div>
</body>
</html>
